@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
{% load static %}

body {
  margin: 0;
  box-sizing: border-box;
}

.upload_body {

  background: #FFF;
  color: #444;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  overflow-X: hidden;
  overflow-Y: auto;
  padding: 0;
  height: 900px;



}
.upload_body h1 {
    margin-top: 100px; /* H1 태그의 위쪽 여백 추가 */
    text-align: center;
    font-family: 'Sriracha', sans-serif; /* 원하는 폰트 패밀리 사용 */
    font-size: 2em; /* 필요한 만큼 폰트 크기 조절 */
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

}

.video_center{
 margin: 0 auto;
 width: 1000px;
 display: block;
}

.result_image{
 margin: 0 auto;
 width: 1000px;
 display: block;
}

.result_text{

}

input[type="file"] {
  position: fixed;
  bottom: 10px; /* 하단 여백 조정 */
  left: 10px; /* 좌측 여백 조정 */
}
.logo-container {
    position: absolute;
    left: 40px; /* 필요한 만큼 왼쪽 위치 조절 */
    display: flex;
    top: 40px;
    align-items: center;
    background-color: white;
}

.logo {
    width: 80px; /* 필요한 만큼 너비 조절 */
    height: 50px; /* 가로세로 비율 유지 */
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
}

.logo_1 {
    width: 80px; /* 필요한 만큼 너비 조절 */
    height: 50px; /* 가로세로 비율 유지 */
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 10px;
}

.intro h1 {
    font-family: 'Sriracha', sans-serif; /* 원하는 폰트 패밀리 사용 */
    font-size: 2em; /* 필요한 만큼 폰트 크기 조절 */
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;

}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/img_jin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0px 20px 0px; /* Adjust the top and bottom margins as needed */
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 50px 50px;
}

/* CSS for main element CSS
파일에서 {% static %} 템플릿 태그를 사용할 때 발생하는 문제는,
 CSS 파일은 Django의 템플릿 엔진에 의해 처리되지 않기 때문입니다.
 따라서 CSS 파일 안에서 직접적으로 Django 템플릿 태그를 사용할 수 없습니다.*/


.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.btnRed {
  height: 4.4rem;
  padding: 0 1rem;
  color: #fff;
  border-radius: 0.4rem;
  background: #e42215;
  font-size: 1.6rem;
  width: 100%;
  font-family:'NanumGothicB';
  font-weight:bold;
  margin: 20px 0px; /* Adjust the top and bottom margins as needed */
  cursor: pointer;
}

.btnBlue {
  height: 4.4rem;
  padding: 0 1rem;
  color: #fff;
  border-radius: 0.4rem;
  background: #9fcee1;
  font-size: 1.6rem;
  width: 100%;
  font-family:'NanumGothicB';
  font-weight:bold;
  margin: 20px 0px; /* Adjust the top and bottom margins as needed */
  cursor: pointer;
}

.detection_list {
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  border: 2px solid #000;
  color: #000;
  box-sizing: border-box;
  text-align: left;
  width: fit-content;
  margin: 0
}

.achievements {
  border: 2px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #302f49;
  padding: 1px 80px;
}

.footer .copy {
  color: #fff;
  text-align: center;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}

menu {
    display: none;
    /* 다른 스타일링 속성 추가 */
    }
    /* 메뉴가 열린 상태 */
menu.open {
    display: block;
    /* 열린 상태의 스타일링 속성 추가 */
}