<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>scooter detection</title>
  <!-- HTTPS로 로드되도록 변경 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>

<body>
  <header class="header">
    <img class="logo" onclick="movePage()" src="{% static 'img/logo.png' %}" href="home.html" alt="logo">
    <img class="logo_1" src="{% static 'img/deer.png' %}" alt="logo_1">
    <nav class="nav-items">
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>전동킥보드 불법 주정차 위반 탐지</h1>
    </div>
    <script>
        function movePage() {
        window.location.href = '{% url "upload" %}';
        }
    </script>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-bus"></i>
        <p class="work-heading">버스정류장</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fas fa-subway"></i>
        <p class="work-heading">지하철역</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fas fa-traffic-light"></i>
        <p class="work-heading">횡단보도</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="far fa-keyboard"></i>
        <p class="work-heading">점자블록</p>
        <p class="work-text"></p>
      </div>
    </div>
      <button class="btnRed" onclick="movePage()">신고하기</button>
  </main>
</body>

</html>