<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>scooter detection</title>
  <!-- HTTPS로 로드되도록 변경 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/home_menu.css' %}">
</head>

<body>
    <header>
        <div class="box">
          <ul>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <nav class="nav-items">
        <img onclick="movePage_home()" src="{% static 'img/logo.png' %}" href="home.html" class="logo" alt="logo">
        </nav>
    </header>

    <div class="logo-container">
            <img class="logo_1" src="{% static 'img/deer.png' %}" alt="logo_1">
    </div>
    <div class="intro">
      <h1>Electric Kickboard Illegal Parking Automatic Detection</h1>
    </div>

    <div class = 'detection_list'>
      DETECTION LIST
    </div>

    <script>
        $(function() {

      var w = $(window).width(),
        h = $(window).height();
      //$('section').width(w);
      $('section').height(h);
      $('menu .container').height(h - 60);
      $('body').prepend('<div id="overlay">');

      $('#menu').click(function() {$('html').addClass('active');});
      $('#close-menu').click(function() {$('html').removeClass('active');});
      $('#overlay').click(function() {$('html').removeClass('active');});
      $(window).resize(function() {
        var w = $(window).width(),
          h = $(window).height();
        //$('section').width(w);
        $('section').height(h);
        $('menu .container').height(h - 60);
      });

});
        function movePage_upload() {
        window.location.href = '{% url "upload" %}';
        }
         function movePage_home() {
        window.location.href = '{% url "home" %}';
        }
    </script>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-bus"></i>
        <p class="work-heading">Bus stop</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fas fa-subway"></i>
        <p class="work-heading">Subway station</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fas fa-traffic-light"></i>
        <p class="work-heading">Crosswalk</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="far fa-keyboard"></i>
        <p class="work-heading">Sidewalk block</p>
        <p class="work-text"></p>
      </div>
    </div>
  <button class="btnRed" onclick="movePage_upload()">REPORT</button>
</body>

</html>