<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>scooter detection</title>
  <!-- HTTPS로 로드되도록 변경 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/home_menu.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'img/deer.png' %}" class = "logo_1" alt="logo_1">
        <img onclick="movePage_home()" src="{% static 'img/logo.png' %}" class="logo" alt="logo">
        <div class="box">
          <ul>
            <li><a href='{% url "home" %}'>home</a></li>
            <li><a href='{% url "upload" %}'>Detect</a></li>
            <li><a href='{% url "result" %}'>Analyze</a></li>
            <li><a href='{% url "notice" %}'>notice</a></li>
          </ul>

        </div>
    </header>



    <div class="intro">
      <h1>E-Scooter illegal Parking Auto Reporting Service</h1>
    </div>

    <div class = 'detection_list'>
      REPORTABLE OFFENSES
    </div>

    <script>
        function movePage_upload() {
        window.location.href = '{% url "upload" %}';
        }
         function movePage_home() {
        window.location.href = '{% url "home" %}';
        }
    </script>
    <div class="achievements">
      <div class="work">
        <i class="fa fa-bus"></i>
        <p class="work-heading">Bus Stop</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fa fa-subway"></i>
        <p class="work-heading">Subway Station</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fa fa-traffic-light"></i>
        <p class="work-heading">Crosswalk</p>
        <p class="work-text"></p>
      </div>
      <div class="work">
        <i class="fa fa-braille" aria-hidden="true"></i>
        <p class="work-heading">Braille Block</p>
        <p class="work-text"></p>
      </div>
    </div>
  <button class="btnRed" onclick="movePage_upload()">REPORT</button>
</body>

</html>