<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>detection</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/design.css' %}">
        <link rel="stylesheet" href="{% static 'css/list_media.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_1.css' %}">
</head>

<body class = "upload_body">
    <header>
        <img src="{% static 'img/deer.png' %}" class = "logo_1" alt="logo_1">
        <img onclick="move_home_Page()" src="{% static 'img/logo.png' %}" class="logo" alt="logo">
        <div class="box">
          <ul>
            <li><a href='{% url "home" %}'>home</a></li>
            <li><a href='{% url "upload" %}'>reporting service</a></li>
            <li><a href='{% url "result" %}'>reporting result</a></li>
            <li><a href='{% url "notice" %}'>notice</a></li>
          </ul>

        </div>
    </header>
    <div class="board_wrap">
        <div class="board_title">
            <strong>NOTICE</strong>
            <p>Indicates information about the reported electric kickboard</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">number</div>
                    <div class="title">title</div>
                    <div class="writer">writer</div>
                    <div class="date">date</div>
                    <div class="count">count</div>
                </div>
                <div>
                    <div class="num">5</div>
                    <div class="title"><a href="notice_view.html">Insa-dong, Jongno-gu, Seoul, South Korea</a></div>
                    <div class="writer">KIM</div>
                    <div class="date">2023.12.22</div>
                    <div class="count">8</div>
                </div>
                <div>
                    <div class="num">4</div>
                    <div class="title"><a href="notice_view.html">157 Jong-ro, Jongno-gu, Seoul, South Korea</a></div>
                    <div class="writer">NO</div>
                    <div class="date">2023.12.20</div>
                    <div class="count">15</div>
                </div>
                <div>
                    <div class="num">3</div>
                    <div class="title"><a href="notice_view.html">37, Gyedong-gil, Jongno-gu, Seoul, South Korea</a></div>
                    <div class="writer">KIM</div>
                    <div class="date">2023.12.18</div>
                    <div class="count">18</div>
                </div>
                <div>
                    <div class="num">2</div>
                    <div class="title"><a href="notice_view.html">99 Yulgok-ro, Waryong-dong, Jongno-gu, Seoul, South Korea</a></div>
                    <div class="writer">KIM</div>
                    <div class="date">2023.12.17</div>
                    <div class="count">21</div>
                </div>
                <div>
                    <div class="num">1</div>
                    <div class="title"><a href="notice_view.html">161 Sajik-ro, Jongno-gu, Seoul, South Korea</a></div>
                    <div class="writer">JO</div>
                    <div class="date">2023.12.17</div>
                    <div class="count">32</div>
                </div>
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="notice_write.html" class="on">submit</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>

      <script>

        function move_home_Page() {
        window.location.href = '{% url "home" %}'; /* 이동하려는 페이지의 URL을 여기에 넣어주세요 */
        }

    </script>
</body>
</html>
