<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>detection</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>

<body class = "upload_body">
    <header>
        <img src="{% static 'img/deer.png' %}" class = "logo_1" alt="logo_1">
        <img onclick="move_home_Page()" src="{% static 'img/logo.png' %}" class="logo" alt="logo">
        <div class="box">
          <ul>
            <li><a href='{% url "home" %}'>home</a></li>
            <li><a href='{% url "upload" %}'>reporting service</a></li>
            <li><a href='{% url "result" %}'>reporting result</a></li>
            <li><a href='{% url "notice" %}'>notice</a></li>
          </ul>

        </div>
    </header>
    <h1> ELECTRIC KICKBOARD ILLEGAL PARKING DETECTION RESULT </h1>
        <div class = 'result_body'>
        <div>
            <img src="{% static 'result/image/detection_result.png' %}" class = "result_image" width="500" height="500" >
        </div>
        <div class = "result_text_1">
            <p>  KICKBOARD<0> : 5.66m - Regular Tow Area </p>
        </div>
        <div class = "result_text_2">
            <p>  KICKBOARD<1> : 0.78m - Immediate Tow Area </p>
        </div>
        </div>
      <script>

        function move_home_Page() {
        window.location.href = '{% url "home" %}'; /* 이동하려는 페이지의 URL을 여기에 넣어주세요 */
        }

    </script>

    <button class="btnBlue" onclick="move_home_Page()">RETURN</button>
</body>
</html>
